{
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest": true
	},
	"parser": "babel-eslint",
	"plugins": [
		"react"
	],
	"extends": [
		"eslint:recommended",
    "plugin:react/recommended"
	],
	"rules": {
		"strict": ["error", "global"],
		"no-console": "off",
		"no-debugger": "off"
	}
}
